<div class="col-md-12">
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{textarea cols="80" rows="1" value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="body">Post Body</label>
        {{textarea cols="60" rows="6" value=body id="body"}}
      </div>

      {{multiselect-checkboxes options=categories labelProperty='name' selection=selectedCategories}}

      <button class="btn btn-sm btn-primary" {{action 'createPost' categories}}>Publish</button>
    </form>
  </div>
</div>
