<div class="row">
  {{#link-to 'new-post'}}New Post{{/link-to}}
  <button {{action 'changeStartIndex' "prev"}}>Previous</button>
  <button {{action 'changeStartIndex' "next"}}>Next</button>
  {{#each model.posts as |post|}}
    {{post-tile post=post}}
  {{/each}}
  {{#each model.categories as |category|}}
    {{#link-to 'category' category.id}}
      {{category.name}}
    {{/link-to}}
  {{/each}}
</div>
<div class="row">
  {{new-category createCategory='createCategory'}}
</div>
